[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
jupyter = "==1.0.0"
jupyterlab = "*"

[dev-packages]
black = "*"

[requires]
python_version = "*"

[pipenv]
allow_prereleases = true
